// ======================================================
// Pages :: Home
// ======================================================
// Start classname with prefix `p-`

.banner {
  min-height: 800px;
  position: relative;

  @include breakpoint-down(smallphone) {
    min-height: 400px;
  }
  &__img {
    position: absolute;
    z-index: 3;
    .item1 {
      img {
        height: 800px;
      }
    }
  }
  &__info {
    text-align: center;
    color: $cl-white;
    top: 465px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 5;

    @include breakpoint-down(smallphone) {
      padding-top: 200px;
    }
  }
  &__content {
    margin-bottom: 109px;

    @include breakpoint-down(phone) {
      margin-bottom: 50px;
    }
    div {
      color: $cl-white;
      font-family: $font-family-base;
      font-size: 48px;
      font-weight: $font-weight-light;
      line-height: 0;
      margin-top: 18px;
      padding-bottom: 42px;

      @include breakpoint-down(phone) {
        font-size: $font-size-extra-large;
      }
    }
    &--create {
      color: $cl-green;
    }
    &--more {
      font-size: $font-size-large;
      height: 18px;
      position: relative;
      z-index: 51;
      &:after,
      &:before {
        content: '';
        height: 1px;
        width: 28px;
        display: inline-block;
        background: $cl-green;
        position: absolute;
        top: 50%;
        z-index: 50;
        transform: translate(0, -50%);
      }
      &:before {
        right: -61px;
      }
      &:after {
        left: -61px;
      }

      @include breakpoint-down(phone) {
        font-size: $font-size-base;
      }
    }
  }
  h2 {
    color: $cl-white;
    font-family: $font-family-base;
    font-size: $font-size-extra-large3;
    font-weight: $font-weight-light;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint-down(phone) {
      font-size: $font-size-extra-large2;
    }
  }
  &__social {
    width: 114px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include breakpoint-down(phone) {
      padding-bottom: 50px;
    }
    i {
      display: inline-block;
      opacity: .3;
    }
    .google {
      color: $cl-white;
      opacity: 1;
    }
  }
  .owl-theme {
    .owl-dots {
      .owl-dot span {
        margin: 7.5px 7px;
        border: 1px solid $cl-gray;
        background: $cl-black;
      }
      .owl-dot.active span {
        background: $cl-white;
      }
    }
  }
}
.section {
  padding-bottom: 100px;
  text-align: center;

  @include breakpoint-down(smallphone) {
    padding-bottom: 50px;
  }
  &-title {
    color: $cl-green-dark;
    text-transform: uppercase;
    font-size: $font-size-extra-large;
    font-weight: $font-weight-extra-bold - 100;
    text-align: center;
    padding-top: 77px;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 25px;

    @include breakpoint-down(smallphone) {
      padding-top: 50px;
      font-size: $font-size-large;
      padding-bottom: 10px;
      margin-bottom: 50px;
    }
    &:before {
      content: '\f004';
      font-family: $font-icon;
      font-weight: $font-weight-extra-bold;
      width: 49px;
      background: $cl-white;
      position: absolute;
      z-index: 10;
      bottom: -25px;
      left: 50%;
      transform: translate(-50%, 0);
      color: $cl-gray-light2;

      @include breakpoint-down(smallphone) {
        bottom: -23px;
      }
    }
    &:after {
      content: '';
      border: .5px solid $cl-gray-light2;
      width: 230px;
      position: absolute;
      z-index: 5;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%, 0);

      @include breakpoint-down(smallphone) {
        width: 150px;
        bottom: -12px;
      }
    }
  }
  &-info {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 24px;
    opacity: .8;
    color: $cl-black;
    font-family: $font-family-base;
    margin-left: 121px;
    margin-right: 121px;
    margin-bottom: 48px;

    @include breakpoint-down(smallphone) {
      margin-left: 0;
      margin-right: 0;
      font-size: $font-size-medium;
    }
  }
}
.features {
  background-color: $cl-gray-light;
  padding-bottom: 50px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  &__title {
    margin-bottom: 81px;
    &:before {
      background-color: $cl-gray-light;
    }
  }
  .product {
    color: $cl-black;
    &-title {
      font-size: $font-size-large + 2;
      font-weight: $font-weight-bold;
      text-align: left;
      margin-bottom: 22px;

      @include breakpoint-down(smallphone) {
        font-size: $font-size-large;
      }
    }
    p {
      font-size: $font-size-base - 1;
      text-align: left;
      margin-bottom: 80px;
      font-family: $font-family-base;

      @include breakpoint-down(smallphone) {
        font-size: $font-size-base - 1;
        margin-bottom: 40px;
      }
    }
    &__info {
      padding-left: 57px;

      @include breakpoint-down(smallphone) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    &__info:before {
      border: 1px solid $cl-green-dark;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      font-family: $font-icon;
      font-weight: $font-weight-extra-bold;
      color: $cl-green-dark;
      text-align: center;
      line-height: 36px;

      @include breakpoint-down(smallphone) {
        left: 15px;
      }
    }
    .branding:before {
      content: '\f56b';
    }
    .develop:before {
      content: '\f303';
    }
    .consulting:before {
      content: '\f0a1';
      transform: rotate(-30deg);
    }
  }
}
.works {
  &__title {
    padding-top: 99px;
  }
  .nav {
    justify-content: center;
    &-tabs {
      border: 0;
      margin-bottom: 43px;
    }
    &-link {
      font-weight: $font-weight-bold;
      font-size: $font-size-base;
      color: $cl-black;
      padding: 2px 13px;
      cursor: pointer;

      @include breakpoint-down(smallphone) {
        font-size: $font-size-extral-small;
      }
    }
    &-link:hover,
    &-link:focus {
      border-color: transparent;
    }
    &-link.active {
      background: $cl-green-dark;
      border: 1px solid $cl-green-dark;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color: $cl-white;
    }
  }
}
.work-img,
.card-img {
  position: relative;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  background: $cl-green-dark;
  color: $cl-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all .5s;
  &-eye {
    width: 40px;
    height: 40px;
    color: $cl-white;
    line-height: 37px;
    border: 1px solid $cl-white;
    border-radius: 50%;
  }
  div {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    span {
      font-weight: $font-weight-light;
      display: block;
    }
  }
}
.work-img:hover .layer,
.card-item:hover .layer {
  visibility: visible;
  opacity: .8;
  transition: all .5s;
}
.card-item:hover .card-title {
  color: $cl-green-dark;
}
.card {
  border: 0;
}
.card-img {
  .layer {
    justify-content: space-between;
    padding: 23px 26px;
    i {
      width: 42px;
      height: 42px;
      line-height: 40px;
      background: rgba($cl-black2, .3);
      margin-right: 4px;
    }
  }
  &-top {
    border-radius: 0;
  }
}
.card-body {
  .card-title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $cl-black;
  }
  .card-text {
    font-size: $font-size-base - 1;
    line-height: 24px;
    color: $cl-black;
    opacity: .56;
  }
}
.meet-team {
  padding-bottom: 115px;

  @include breakpoint-down(smallphone) {
    padding-bottom: 50px;
  }
  &__title {
    padding-top: 62px;
  }
  &__info {
    margin-bottom: 108px;

    @include breakpoint-down(smallphone) {
      margin-bottom: 50px;
    }
  }
}

$span: 'span';

.statistics {
  position: relative;
  background: url('../images/meet-team3.jpg') center center no-repeat;
  background-size: cover;
  padding-bottom: 158px;

  @include breakpoint-down(smallphone) {
    padding-bottom: 50px;
  }
  &__title {
    padding-top: 100px;
    margin-bottom: 40px;

    @include breakpoint-down(smallphone) {
      padding-top: 70px;
    }
    &:before {
      background: $cl-black-light;
      color: $cl-white;
    }
  }
  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba($cl-black-light1, .8);
    z-index: 5;
  }
  &__inner {
    position: relative;
    z-index: 10;
  }
  &__info {
    text-align: center;
    color: $cl-white;

    @include breakpoint-down(phone) {
      padding-bottom: 30px;
    }
    i {
      width: 130px;
      height: 130px;
      margin: auto;
      border: 2px solid $cl-gray;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: $font-size-large + 7;

      @include breakpoint-down(phone) {
        width: 80px;
        height: 80px;
      }

      @include breakpoint-down(phone) {
        width: 60px;
        height: 60px;
        font-size: $font-size-large;
      }
    }
  }
  &__data {
    $this: &;

    margin-top: 20px;
    span {
      display: block;
      text-transform: uppercase;
      font-size: $font-size-large;

      @include breakpoint-down(phone) {
        font-size: $font-size-base;
      }
    }

    span:not(#{$this}-text) {
      font-size: 60px;

      @include breakpoint-down(phone) {
        font-size: $font-size-extra-large;
      }

      @include breakpoint-down(phone) {
        font-size: $font-size-base;
      }
    }
  }
}
.discuss {
  padding-bottom: 91px;

  @include breakpoint-down(smallphone) {
    padding-bottom: 50px;
  }
  &__title {
    padding-top: 100px;

    @include breakpoint-down(smallphone) {
      padding-top: 50px;
    }
  }
  &__info {
    margin-bottom: 83px;

    @include breakpoint-down(smallphone) {
      margin-bottom: 30px;
    }
  }
  &__sub-title {
    font-size: 24px;
    &--bold {
      font-weight: $font-weight-bold;
      margin-bottom: 48px;

      @include breakpoint-down(smallphone) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  &__information {
    margin-top: 40px;
    line-height: 30px;
    > span {
      display: block;
    }
  }
  &__form {
    .form-control {
      border-width: 0 0 1px 0;
      border-radius: 0;
      padding-left: 0;
      padding-bottom: 20px;
      resize: none;
      &:focus {
        box-shadow: none;
        outline: 0;
      }

      @include breakpoint-down(smallphone) {
        margin-bottom: 30px;
      }
    }
    &-submit {
      background: none;
      border: 0;
      display: inline-flex;
      align-items: center;
      margin-top: 37px;
      padding: 0;

      @include breakpoint-down(smallphone) {
        margin-top: 0;
      }
      i {
        color: $cl-green-dark;
        font-size: $font-size-extra-large - 5;
      }
      span {
        margin-left: 10px;
        font-weight: $font-weight-bold - 100;
        font-size: 16px;
      }
    }
    &--textare {
      margin-top: 40px;

      @include breakpoint-down(smallphone) {
        margin-top: 0;
      }
    }
  }
  &__social {
    padding-top: 2px;
    padding-left: 37px;
    i {
      display: block;
      font-size: $font-size-large + 4;
      color: $cl-grey;
      margin-bottom: 31px;
      text-align: left;
    }
  }
}
.map {
  padding-bottom: 0;
  border-bottom: 5px solid $cl-black2;
  max-height: 220px;
  #map {
    height: 100%;
  }
}
.footer {
  background: $cl-green-dark;
  padding: 100px 0;

  @include breakpoint-down(smallphone) {
    padding: 50px 0;
  }
  &__logo {
    margin-bottom: 40px;
    line-height: 15px;

    @include breakpoint-down(smallphone) {
      margin-bottom: 20px;
    }
    a {
      font-size: $font-size-extra-large;
      font-family: $font-family-special;
      color: $cl-white;
    }
  }
  &__desc {
    color: $cl-white;
    font-size: $font-size-base - 1;
    line-height: 25px;
    margin-bottom: 25px;
    font-weight: $font-weight-bold - 100;
  }
  &__title {
    margin-bottom: 40px;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: darken($cl-white, 15%);

    @include breakpoint-down(smallphone) {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  ul {
    margin-bottom: 25px;
  }
  &__form {
    position: relative;
    padding-top: 7px;
    .form-control {
      background: none;
      width: 100%;
      color: $cl-white;
      margin-bottom: 27px;
      &--border {
        border-radius: 3px;
        border-width: 2px;
        border-color: $cl-white;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
    &-submit {
      background: none;
      border: 0;
      color: $cl-white;
      position: absolute;
      right: 10px;
      opacity: .5;
      transform: scaleX(1.2);
      top: 14px;
    }
  }
  &__item {
    margin-bottom: 11.5px;
    a {
      color: $cl-white;
      font-size: $font-size-base - 1;
      font-weight: $font-weight-bold - 100;
      &:hover {
        color: $cl-black;
      }
    }
  }
  &__about {
    color: $cl-white;
    border-left: 1px solid $cl-black-light;
    padding-left: 12px;
    font-size: $font-size-base - 1;

    @include breakpoint-down(smallphone) {
      border: 0;
      text-align: center;
      padding-left: 0;
    }
    a,
    i {
      color: $cl-black;
      display: inline-block;
      font-size: $font-size-base - 1;
    }
    a {
      font-weight: $font-weight-base;
    }
    i {
      margin: 0 8px;
      opacity: .5;
    }
  }
  &__copy {
    margin-bottom: 25px;
    padding-left: 12px;
    font-size: $font-size-base - 1;
    font-weight: $font-weight-base;

    @include breakpoint-down(smallphone) {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}

